@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body {
    background-image: url(images\marble-background.jpg);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}

.header {
    background: rgba(255, 255, 255, 0.5);

}

.header__title {
    margin: auto;
    padding: 1rem;
}

.header__modal_backdrop {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.header__baker_modalContent {
    display: none;
    position: fixed;
    background: white;
    padding: 1rem;
    width: 800px;
    top: 150px;
    left: calc(50% - 400px);
    z-index: 1;
}

.header__contact_modalContent {
    display: none;
    position: fixed;
    background: white;
    padding: 10px;
    width: 260px;
    top: 100px;
    left: calc(50% - 140px);
    z-index: 1;
}

.main__infoSection {
    text-align: center;
}

.main__infoSection_text {
    margin: auto;
    max-width: 90%;
    padding-bottom: 1.5rem;
}

.main__donutSection {
    padding-bottom: 1rem;
    text-align: center;
}

.main__donut_button {
    border: none;
}

.main__donut_image {
    width: 200px;
}

.main__purchase_div {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
    text-align: center;
}

.main__clickerSection_button {
    background-color: hotpink;
    border: none;
    border-radius: 8px;
    padding: .5rem;
}

.main__clickerSection {
    background: rgba(255, 255, 255, 0.5);
    border: #999 solid 1px;
    padding: 1.5rem;
}

.main__multiplierSection_button {
    background-color: rgb(87, 154, 192);
    border: none;
    border-radius: 8px;
    padding: .5rem;
}

.main__multiplierSection {
    background: rgba(255, 255, 255, 0.5);
    border: #999 solid 1px;
    padding: 1.5rem;
}

.main__resetSection {
    padding: 1.5rem;
    text-align: center;
}

.footer {
    background: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    text-align: center;
}

button:disabled {
    background-color: blue;
}
